Filtering, GroupBy, Aggregations
Q1. Using a DataFrame of sales data: [Region, Product ,Sales]
 Filter all rows where Sales > 1000.
 Group the data by Region and calculate the total sales.

In [2]:
import pandas as pd
sales={"Region":["East","West","West","East"],
          "Product":["Laptop","Laptop","Mobile","Mobile"],
          "Sales":[1000,2000,700,4000]
           }

df=pd.DataFrame(sales)
print(df[df["Sales"]>1000])
print(df.groupby("Region")["Sales"].sum())

  Region Product  Sales
1   West  Laptop   2000
3   East  Mobile   4000
Region
East    5000
West    2700
Name: Sales, dtype: int64

Create a DataFrame containing students&#39; marks across subjects.
 Use groupby() to find the average marks per subject.
 Filter students who scored above 80 in all subjects.

In [3]:
import pandas as pd

student={"Student_name":["Arun",'Karun',"Varun"],
         "Maths": [70,87,67],
         'Science':[89,88,97],
         "CS":[82,86,57]}
df=pd.DataFrame(student)
print(df.groupby("Student_name")[["Maths","Science","CS"]].mean())
print(df[(df["Maths"]>80) & (df["Science"]>80) & (df["CS"]>80)])

              Maths  Science    CS
Student_name
Arun           70.0     89.0  82.0
Karun          87.0     88.0  86.0
Varun          67.0     97.0  57.0
  Student_name  Maths  Science  CS
1        Karun     87       88  86